body {
    margin: 0;
}
#chart{
    border:1px solid #000;
}
/*~~~~~~~~~~ BAR CHARTART ~~~~~~~~~~*/
.tooltip-element-bar {
    position: absolute;
    z-index: 22;
    opacity: 0;
    visibility: hidden;
    background: #2c2c2c;
    padding: 3px;
    height: fit-content;
    color: #fff;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 13px;
    flex-direction: column;
}
.show_tooltip{
    transition: cubic-bezier(.075,.82,.165,1) .4s;
    visibility: visible;
}
.tooltip-element-bar p {
    margin: 0;
}
.tooltip-element-bar:after {
    content: '';
    position: absolute;
    margin: auto;
    width: 0;
    transform: rotate(90deg);
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2c2c2c;
    clear: both;
}
#to-left:after {
    left: -8px;
    top: 0;
    bottom: 0;
}
#to-left-bottom:after {
    left: -8px;
    bottom: 5px;
}
#to-right-bottom:after {
    right: -8px;
    bottom: 5px;
    transform: rotate(-90deg);
}
#to-right:after {
    right: -8px;
    bottom: 0px;
    top: 0px;
    transform: rotate(-90deg);
}
